include ../mixins/picture

-
  const StepType = {
    LEFT: `left`,
    RIGHT: `right`,
  };

mixin manual-step(stepName, props, imgProps, type = StepType.LEFT)
  -
    const {title, subtitle, description} = props;
    const directionClass = type === StepType.RIGHT ? `flex-row` : `flex-row-reverse`;
    const animationName = type === StepType.RIGHT ? `fade-right` : `fade-left`;

  article(class=`manual__step manual__step--${stepName} d-md-flex ${directionClass} justify-content-between w-100 wx-auto overflow-hidden`)
    div(class="manual__content" data-aos=animationName)
      h3(class="manual__step-title").
        #{title}
      p(class="manual__step-subtitle").
        #{subtitle}
      p(class=`manual__step-description manual__step-description--${stepName}`).
        #{description}
    +picture(
      Object.assign(
        imgProps,
        {
          pictureClass: `manual__step-wrapper-img manual__step-wrapper-img--${stepName} d-flex justify-content-center flex-shrink-0 overflow-hidden`,
          imgClass: `manual__step-img manual__step-img--${stepName}`,
          additions: {
            "data-aos": "fade-up",
            "data-aos-offset": 200,
          }
        }
      )
    )

section(class="manual container-xxl")
  h2(class="manual__title text-center" data-aos="fade-up").
    How the app works
  +manual-step(
    `create`,
    {
      title: `Create an account`,
      subtitle: `Create/login to an existing account to get started`,
      description: `An account is created with your email and a desired password`
    },
    {
      img: `manual-step-create`,
      width: 302,
      height: 525,
      alt: `Registration form of our app`
    }
  )
  +manual-step(
    `explore`,
    {
      title: `Explore while shopping`,
      subtitle: `Shop for your favorites meal as e dey hot.`,
      description: `Shop for your favorite meals or drinks and enjoy while doing it.`
    },
    {
      img: `manual-step-explore`,
      width: 302,
      height: 525,
      alt: `Food range in out app`
    },
    StepType.RIGHT
  )
  +manual-step(
    `checkout`,
    {
      title: `Checkout`,
      subtitle: `When you done check out and get it delivered.`,
      description: `When you done check out and get it delivered with ease.`
    },
    {
      img: `manual-step-checkout`,
      width: 302,
      height: 525,
      alt: `Payment options in our app`
    }
  )
