include ../mixins/picture

header(
  class="prime-header navbar navbar-expand-md navbar-light d-flex align-items-start container-xxl"
)
  +picture({
    pictureClass: `prime-header__navbar-brand-wrapper navbar-brand`,
    imgClass: `prime-header__navbar-brand`,
    img: `logo`,
    width: 104,
    height: 52,
    alt: `Bella Onojie`
  })
  button(
    class="prime-header__navbar-toggler navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  )
    span(
      class="prime-header__navbar-toggler-icon navbar-toggler-icon"
    )
  nav(class="prime-header__nav collapse navbar-collapse my-auto" id="navbarNav")
    ul(class="prime-header__navbar-nav navbar-nav nav justify-content-end ms-auto")
      li(class="prime-header__nav-item nav-item")
        a(class="prime-header__nav-link nav-link active text-center" href="#blank" aria-current="page" ).
          Home
      li(class="prime-header__nav-item nav-item")
        a(class="prime-header__nav-link nav-link text-center" href="#blank").
          Product
      li(class="prime-header__nav-item nav-item")
        a(class="prime-header__nav-link nav-link text-center" href="#blank").
          Faq
      li(class="prime-header__nav-item nav-item")
        a(class="prime-header__nav-link nav-link text-center" href="#blank").
          Contact
