include ../mixins/picture

footer(class="prime-footer container-xxl d-md-flex justify-content-between align-items-center")
  +picture({
    pictureClass: `prime-footer__logo-wrapper`,
    imgClass: `prime-footer__logo`,
    img: `logo`,
    width: 206,
    height: 102,
    alt: `Bella Onojie`
  })
  ul(class="prime-footer__social-links-list d-flex flex-wrap justify-content-center")
    li(class="prime-footer__social-link-wrapper")
      a(
        class="prime-footer__social-link prime-footer__social-link--twitter d-block"
        href="#blank"
        aria-label="Our Twitter"
        data-blank-status
      )
    li(class="prime-footer__social-link-wrapper")
      a(
        class="prime-footer__social-link prime-footer__social-link--facebook d-block"
        href="#blank"
        aria-label="Our Facebook"
        data-blank-status
      )
    li(class="prime-footer__social-link-wrapper")
      a(
        class="prime-footer__social-link prime-footer__social-link--linkedin d-block"
        href="#blank"
        aria-label="Our LinkedIn"
        data-blank-status
      )
  p(class="prime-footer__copyright text-center").
    Copyright 2020 Bella Onojie.com
