mixin picture(props)
  -
    const {
      pictureClass = ``,
      imgClass = ``,
      img,
      width,
      height,
      alt
    } = props;

  picture(class=pictureClass)
    source(
      type="image/webp"
      srcset=`${require(`../../../images/${img}.webp`)}, ${require(`../../../images/${img}@2x.webp`)} 2x`
    )
    img(
      class=imgClass
      src=require(`../../../images/${img}.png`)
      srcset=`${require(`../../../images/${img}@2x.png`)} 2x`
      width=width
      height=height
      alt=alt
    )
